<div class="row">
  <% @categories.each do |category| %>
  <h1><%= category.category %></h1>
    <% @videos.each do |video| %>
      <% if video.category == category %>
        <div class="col-md-3">
          <a href="<%= video.url_video %>" class="card-link">
            <div class="card-videos">
              <div class="card bg-transparent" style="width: 23rem;">
                <img src="<%= video.thumb %>" class="card-img-top img-cards" alt="image">
                <div class="card-body">
                  <div class="row">
                    <div class="col-2">
                      <img src="<%= video.thumb %>" alt="image" class="img-icon">
                    </div>
                    <div class="col">
                      <label class="card-title text-light tilte-video mb-0"><%= video.titulo %></label><br>
                      <label class="card-text mt-0 text-light "><%= video.descricao.truncate(30) %></label><br>
                      <label class="card-text text-secondary">
                        <%= @nome %>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    <% end %>
    <hr style="height:2px;border-width:0;color:rgb(255, 250, 250);background-color:rgb(255, 248, 248)">
  <% end %>
</div>
<!-- 
<h1 class="text-light">Estudos</h1>
<div class="row">
  <% (1).times do |teste| %>
    <div class="col">
      <a href="https://www.youtube.com/watch?v=6_Y6tThuw9I&list=PL8czsbhQP4tvew4t_V2PL-wUMbxIUdz4o" class="card-link">
        <div class="card-videos">
          <div class="card bg-transparent" style="width: 23rem;">
            <img src="..." class="card-img-top img-cards" alt="image">
            <div class="card-body">
              <div class="row">
                <div class="col-2">
                  <img src="..." alt="image" class="img-icon">
                </div>
                <div class="col">
                  <label class="card-title text-light tilte-video mb-0">Full Album Donda</label><br>
                  <label class="card-text mt-0 text-light ">Kayne West</label><br>
                  <label class="card-text text-secondary">
                    <%= @nome %>
                  </label> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <% end %>
</div>
<hr style="height:2px;border-width:0;color:rgb(255, 250, 250);background-color:rgb(255, 248, 248)">
<h1 class="text-light">Musica</h1>
<div class="row">
  <% (1).times do |teste| %>
    <div class="col">
      <a href="https://www.youtube.com/watch?v=6_Y6tThuw9I&list=PL8czsbhQP4tvew4t_V2PL-wUMbxIUdz4o" class="card-link">
        <div class="card-videos">
          <div class="card bg-transparent" style="width: 23rem;">
            <img src="..." class="card-img-top img-cards" alt="image">
            <div class="card-body">
              <div class="row">
                <div class="col-2">
                  <img src="..." alt="image" class="img-icon">
                </div>
                <div class="col">
                  <label class="card-title text-light tilte-video mb-0">Full Album Donda</label><br>
                  <label class="card-text mt-0 text-light ">Kayne West</label><br>
                  <label class="card-text text-secondary">
                    <%= @nome %>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <% end %>
</div> -->